*{
  box-sizing: border-box;
  transition: 0.3s;
}
body {
  font-family: Times New Roman, Times, serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #000;
  background-color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.header-left { display: flex; }

.history-button {
  cursor: pointer;
  color: darkslateblue;
  display: none;
}

.header-right img {
  margin: 0 5px;
  cursor: pointer;
}

.register,
.home,
.character,
.settings,
.battle {
  position: absolute;
  top: 50px;
  background-color: #dfdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header,
.register,
.home,
.character,
.settings,
.battle,
.battlefield { visibility: hidden; }

.register,
.home,
.character,
.settings,
.battle {
  width: 100%;
  height: calc(100vh - 50px);
}

.visible-page {
  z-index: 1;
  visibility: visible;
}

.register {
  z-index: 0;
  top: 0;
  height: 100vh;
}

.home,
.header {z-index: 0;}
.character {z-index: 0;}
.settings {z-index: 0;}
.battle,
.battlefield {z-index: 0;}

.visible-page { z-index: 1; }

.wrapp { width: 20%; }

.register .title,
.attack-defence-zone p {
  text-align: center;
  font-size: 1.5rem;
  padding: 0 0 30px 0;
}

.register input { 
  background-color: antiquewhite;
  margin: 10px 0 20px 0;
  text-align: center;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-weight: bold;
}

button { background-color: aliceblue; }

button:disabled { 
  box-shadow: none;
  border: 1px solid grey;
  color: grey;
}

button:disabled:hover { 
  background-color: aliceblue; 
  cursor: not-allowed;
}

button:disabled:active { border: 1px solid grey; }

button,
input[type=text] {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid aliceblue;
  box-shadow: 1px 1px 1px #000;
}

button:active { border: 1px solid #000; }
button:hover { background-color: antiquewhite; }
.home button { width: 10%; }

.character {
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 15px;
}

.character-image {
  width: 400px;
  position: relative;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000;
}

.character-image img { width: 100%;border-radius: 5px; }

.edit-image {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.edit-image .edit-icon {
  width: 40px;
  border: 3px solid #000;
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(255, 255, 255);
}

.character-image:hover .edit-image{ display: flex; }
.about-character { padding: 0 15px; }

.name {
  padding: 0 0 10px 0;
  font-weight: bold;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.statistics { display: flex; }
.statistics p {padding: 0 10px 0 0;}
.statistics .wins {color: green;}
.statistics .loses {color: red;}

.popup {
  position: absolute;
  left: calc(50% - 20%);
  top: 3%;
  width: 40%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 2px 3px 3px #000;
  display: none;
  border-radius: 5px;
  border: 1px solid grey;
}

.close-popup {
  display: flex;
  justify-content: flex-end;
}

.close-popup img {cursor: pointer;}

.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.avatar-image { 
  width: 40%; 
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid grey;
}
.avatar-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.check-image {
  background-color: rgba(000, 000, 000, 0.5);
  position: absolute;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.check-image .check-icon {
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
}

.avatar-image:hover .check-image { display: flex; }

.settings {
  display: block;
  padding: 10px;
}

.settings .change-name { display: flex; }
.settings .change-name p { line-height: 40px;}
.settings .change-name p span {
  font-weight: bold;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  margin: 0 50px;
}
.settings .change-name button {width: 10%;}
.settings .change-name p span input[type=text] { width: 150px; margin-right: 20px;}
.settings .change-name p span button { width: 100px; }

.battle {
  height: calc(100vh - 350px);
  justify-content: space-around;
}

.about-character-block { width: 15%; }

.image-character { width: 100%; }

.image-character img {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000;
  border: 1px solid silver;
}

.life-points progress {
  width: 100%;
  height: 15px;
  background-color: green;
}

.life-points p {
  text-align: center;
  padding: 5px 0;
}


.battlefield{
  border-top: 1px solid #000;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  overflow-y: scroll;
  padding: 20px;
}

.log-line { padding: 5px 0; }

.log-line span {
  color: darkslateblue;
  font-weight: bold;
}

.log-line .damage {
  color: #222;
}

.log-line .crit {
  color: darkred;
}

.attack-defence-zone { width: 20%; }
.attack-defence-zone p {font-size: 1.1rem; }

.attack-defence-zone .column{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.check-attack-zone label,
.check-defence-zone label {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  cursor: pointer;
}

input[type=radio] { cursor: pointer; }

.end-game-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(000, 000, 000, 0.5);
  position: absolute;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup-content {
  width: 50%;
  height: 150px;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .wrapp {
     width: 40%;
    left: calc(50% - 20%);
  }

  .home button { width: 12%; }
  .about-character-block {width: 20%;}
  .attack-defence-zone { width: 30%; }
  
}

@media (max-width: 900px) {
  .wrapp {
     width: 50%;
    left: calc(50% - 25%);
  }

  .home button { width: 14%; }
  
  .character-image {
    width: 50%;
  }

  .attack-defence-zone { width: 40%; }
  
  .popup {
    left: 30%;
    top: 20%;
    width: 60%;
  }
  .about-character-block {width: 25%;}
}

@media (max-width: 550px) {

  .history-button { 
    display: block;
    padding-left: 4px;
  }

  .home button { width: 20%; }
  .popup { 
    left: 25%;
    top: 10%; 
  }
  .settings .change-name button {width: 20%;}
  .settings .change-name p span {margin: 5px;}
  .settings .change-name p span input[type=text] { width: 90px;}
  .settings .change-name p span button  { width: 80px;}

  .battle {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "my-avatat enemy"
        "attack-defence attack-defence"
      ;
      height: calc(100vh - 50px);
      
  }
  
  .my { 
    grid-area: my-avatat;
    margin: 0 auto;
  }
  .enemy { 
    grid-area: enemy; 
    margin: 0 auto;
  }
  .attack-defence-zone {
    width: 80%;
    margin: 0 auto;
    grid-area: attack-defence;
  }
  .life-points {width: 100%;}
  .attack-defence-zone p {padding: 3px 0;}
  .attack-defence-zone .column { margin-bottom: 0;}
  .about-character-block {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .battlefield {height: 250px;display: none;}
  .show { display: block; }
}

@media (max-height: 690px) {
  .history-button { display: block; }
  .battle { height: calc(100vh - 50px); }
  .battlefield { display: none; }
  .show { display: block; }
}