*{
  box-sizing: border-box;
  transition: 0.3s;
}
body {
  font-family: Times New Roman, Times, serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #000;
  background-color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.header-right img {
  margin: 0 5px;
  cursor: pointer;
}

.register,
.home,
.character,
.settings,
.battle {
  position: absolute;
  top: 50px;
  background-color: #dfdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.register {z-index: 100;top: 0;}
.home,
.header {z-index: 200;}
.character {z-index: 3;}
.settings {z-index: 4;}
.battle,
.battlefield {z-index: 500;}

.register,
.home,
.character,
.settings,
.battle {
  width: 100%;
  height: calc(100vh - 50px);
}

.wrapp { width: 20%; }

.register .title,
.attack-defence-zone p {
  text-align: center;
  font-size: 1.5rem;
  padding: 0 0 30px 0;
}

.register input { 
  background-color: antiquewhite;
  margin: 10px 0 20px 0;
  text-align: center;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-weight: bold;
}

button { background-color: aliceblue; }
button:disabled { box-shadow: none; }
button:disabled:hover { background-color: aliceblue; }
button:disabled:active { border: 1px solid aliceblue; }

button,
input[type=text] {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid aliceblue;
  box-shadow: 1px 1px 1px #000;
}

button:active { border: 1px solid #000; }
button:hover { background-color: antiquewhite; }
.home button { width: 10%; }

.character {
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 15px;
}

.character-image {
  width: 20%;
  position: relative;
}

.character-image img { width: 100%; }

.edit-image {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}

.edit-image .edit-icon {
  width: 40px;
  border: 3px solid #000;
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(255, 255, 255);
}

.character-image:hover .edit-image{ display: flex; }
.about-character { padding: 0 15px; }

.name {
  padding: 0 0 10px 0;
  font-weight: bold;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.statistics { display: flex; }
.statistics p {padding: 0 10px 0 0;}
.statistics .wins {color: green;}
.statistics .loses {color: red;}

.popup {
  position: absolute;
  left: calc(50% - 20%);
  top: 3%;
  width: 40%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 2px 3px 3px #000;

}

.close-popup {
  display: flex;
  justify-content: flex-end;
}

.close-popup img {cursor: pointer;}

.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.avatar-image { 
  width: 40%; 
  position: relative;
  cursor: pointer;
}
.avatar-image img {width: 100%;height: 100%;}

.check-image {
  background-color: rgba(000, 000, 000, 0.5);
  position: absolute;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.check-image .check-icon {
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
}

.avatar-image:hover .check-image { display: flex; }

.settings {
  display: block;
  padding: 10px;
}

.settings .change-name { display: flex; }
.settings .change-name p { line-height: 40px;}
.settings .change-name p span {
  font-weight: bold;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  margin: 0 50px;
}
.settings .change-name button {width: 10%;}

.battle {
  height: calc(100vh - 350px);
  justify-content: space-around;
}
.about-character-block {width: 15%;}
.image-character { width: 100%;}
.image-character img {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000;
  border: 1px solid silver;
}

.life-points progress {
  width: 100%;
  height: 15px;
  background-color: green;
}

.life-points p {
  text-align: center;
  padding: 5px 0;
}


.battlefield{
  border-top: 1px solid #000;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
}

.attack-defence-zone { width: 40%; }
.attack-defence-zone p {font-size: 1.1rem; }

.attack-defence-zone .column{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.check-attack-zone label,
.check-defence-zone label {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

@media (max-width: 1200px) {
  .wrapp {
     width: 40%;
    left: calc(50% - 20%);
  }

  .home button { width: 12%; }
  .about-character-block {width: 20%;}
  
}

@media (max-width: 900px) {
  .wrapp {
     width: 50%;
    left: calc(50% - 25%);
  }

  .home button { width: 14%; }
  
  .character-image {
    width: 50%;
  }

  .popup {
    left: 30%;
    top: 20%;
    width: 60%;
  }
  .about-character-block {width: 25%;}
}